{% extends 'main/base.html' %} 

{% block title %}Create Quiz{% endblock %} 

{% block css %}
  
{% endblock %}

{% block body %}
<script>
$(document).ready(function(){
   document.getElementById("quiz_name").focus();
   $("#compete_no").change(function () {
      $('#opp_ins_class_code').hide();
      $('#opp_ins_class_code_div').hide();
      document.getElementById("opp_ins_class_code").required = false;
   });
   $("#compete_yes").change(function () {
      $('#opp_ins_class_code').show();
      $('#opp_ins_class_code_div').show();
      document.getElementById("opp_ins_class_code").required = true;
   });
});
</script>

{% if error_message %}
<div class="col-sm-12">
  <div class="alert alert-danger" role="alert">
    {{error_message}}
  </div>
</div>
{% endif %}

<div class="col-sm-12">
   <form role="form" id="reg_form" action="{% url 'main:create_quiz' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input hidden type="number" id="code" name="code" value={{class}} >
      <input hidden type="number" id="num_questions" name="num_questions" value={{n}}>
      
      <div class="form-group">
         <h2><label for="quiz_name">Quiz Name:</label></h2>
         <input required type="text" class="form-control" name="quiz_name" id="quiz_name" aria-describedby="emailHelp" placeholder="Quiz Name">
      </div>
      
      <div class="form-group">
         <h3><label>Publish?</label></h3>
         <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary">
               <input required type="radio" name="published" value="yes" class="sr-only"> Yes
            </label>
            <label class="btn btn-secondary">
               <input required type="radio" name="published" value="no" class="sr-only"> No
            </label>
         </div>
      </div>
      
         
      <div class="form-group">
         <h3><label>Competitive?</label></h3>
         <div class="btn-group btn-group-toggle" data-toggle="buttons">
            <label class="btn btn-secondary">
               <input required type="radio" name="compete" id="compete_yes" value="yes" class="sr-only"> Yes
            </label>
            <label class="btn btn-secondary">
               <input required type="radio" name="compete" id="compete_no" value="no" class="sr-only"> No
            </label>
         </div>
         
         <div id="opp_ins_class_code_div">
            <br>
            <label for="opp_ins_class_code">Opponent Instructor Class Code:</label>
            <input required type="text" class="form-control" name="opp_ins_class_code" id="opp_ins_class_code">
         </div>
      </div>
      
      <div>
         <br>
         <br>
      </div>
      
      
      {% for i in l %}
      <div class="form-group">
         <h2><label id="question_{{i}}" for='question_{{i}}'>Question {{i}}:</label></h2>
         <input required type="text" class="form-control" name="question_{{i}}" id="question_1">
         <br>
         <!--get the right answer-->
         <label id="correct_answer1" for='correct_answer1'>Correct Answer:</label>
         <input required type="text" class="form-control" name="correct_answer_{{i}}" id="correct_answer1">
         <!--get other answer--><br>
         <label id="other1_answer1" for='other1_answer1'>Other Answer 1:</label>
         <input required type="text" class="form-control" name="other1_answer_{{i}}" id="other1_answer1">
         <br>
         <label id="other2_answer1" for='other2_answer1'>Other Answer 2:</label>
         <input type="text" class="form-control" name="other2_answer_{{i}}" id="other2_answer1" placeholder="Optional">
         <br>
         <label id="other3_answer1" for='other3_answer1'>Other Answer 3:</label>
         <input type="text" class="form-control" name="other3_answer_{{i}}" id="other3_answer1" placeholder="Optional">
         <br>
         <label id="other4_answer1" for='other3_answer1'>Other Answer 4:</label>
         <input type="text" class="form-control" name="other4_answer_{{i}}" id="other4_answer1" placeholder="Optional">
      </div>
      <br>
      {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>
   </form>
</div>
{% endblock %}