{% extends 'main/base.html' %}

{% block title %}Leaderboard{% endblock %}

{% block body %}
<div class="col-sm-12" style="text-align:center;">
  <h1>Leaderboard</h1>
  <h4>Quiz: {{certain_quiz.Class.name}}:{{certain_quiz.name}}</h4>
  {% if certain_comp_quiz %}
  <h4>Instructors: {{certain_comp_quiz.quiz.Class.instructor.full_name}} vs {{certain_comp_quiz.invited_instructor.full_name}}</h4>
  {% else %}
  <h4>Instructor: {{certain_quiz.Class.instructor.full_name}}</h4>
  {% endif %}
  <table class="table {% if certain_comp_quiz %}table-dark{% endif %}">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">%</th>
      </tr>
    </thead>
    <tbody>
      {% for place in list %}
        {% for person in place.1 %}
        <tr>
          <th scope="row">{{place.0}}</th>
          <td>{{person}}</td>
          <td>{{place.2}}</td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}