<!--first name-->
<!--last name-->
<!--role-->
<!--username-->

{% extends 'main/base.html' %}

{% block title %}Profile{% endblock %}

{% block body %}


<!-- Put whatever you want in here for body -->
<div class="col-sm-12">
    <h2>First Name: {{user_profile.user.first_name}}</h2>
    <h2>Last Name: {{user_profile.user.last_name}}</h2>
    <h2>Username: {{user_profile.user.username}}</h2>
    <h2>Role: {{user_profile.role}}</h2>
    <h2>Date Joined: {{user_profile.datetime_joined}}</h2>
</div>
{% endblock %}